[submodule "3rdparty/datacats"]
	path = 3rdparty/datacats
	url = https://github.com/datacats/datacats
[submodule "3rdparty/ckan"]
	path = 3rdparty/ckan
	url = https://github.com/ckan/ckan
[submodule "3rdparty/ckan-docker"]
	path = 3rdparty/ckan-docker
	url = https://github.com/ckan/ckan-docker
[submodule "3rdparty/docker-fiware-ckan"]
	path = 3rdparty/docker-fiware-ckan
	url = https://github.com/okfn/docker-fiware-ckan
[submodule "3rdparty/amazon-ecs-cli"]
	path = 3rdparty/amazon-ecs-cli
	url = https://github.com/x-clone/amazon-ecs-cli
